* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  color: white;
}

.game-wrapper {
  width: 350px;
  height: 450px;
  border: 3px solid white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.container {
  display: flex;
  flex-direction: column;
}
.heading {
  color: black;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white, 0 0 100px white;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.input {
  height: 50px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  width: 150px;
  height: 50px;
  font-size: 1.3rem;
  margin-top: 3px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: transparent;
}
.check-btn {
  background-color: rgb(67, 10, 223);
}
.get-word-btn {
  background-color: green;
}
.reset-btn {
  background-color: red;
}